<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <style>
        .profile-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>{{user.username}}</h1>
    <div class="profile-container">
        <div>
            {% include 'topic-component.html' %}
        </div>
        <div>
            {% include 'feed-component.html' %}
        </div>
        <div>
            {% include 'activity-component.html' %}

        </div>
    </div>
</body>
</html>